

.tag1{
    text-align: center;
    border-radius: 20%;
   padding-bottom: 5%;
    padding-top: 5%;
    
    
}
.bg1{
    background-image: url('images/1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2%;
    
}
.bg2{
    background-image: url('images/2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    

.bg3 {
    background-image: url('images/category.jpg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
}
   

.bg4{
    background-image: url('images/3.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2%;
}
.bg5{
    background-image: url('images/4.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.s1{
    color: aqua;
}
.pro{
    padding-top: 5%;
    text-align: center;

}
.pro1{
    border: solid;
    margin-bottom: 5%;
    padding: 10px 20px 10px 20 px;
    overflow: hidden;
    
}
.pro1 img{
    transition: 0.2s;
}
.pro1:hover img{
    transform: scale(1.1);
}

.sec img{
    height: 200px;
    width: 200px;
    padding: 10px 20px 10px 10px;
}


.bg6{
    background-image: url('images/bg_3.jpg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
   

    
}
.para{
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}
.bg1,.bg2,.bg5,.bg4{
    height: 250px;
}

.cara{
    text-align: top;
   
}
.bg7{
    padding-top: 20%;
    padding-bottom: 20%;
    text-align: left;
}
.rev{
    text-align: center;
}


 #countdown li {
    display: inline-block;
    font-size: 1.5em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }
  
  #countdown li span {
    display: block;
    font-size: 4.5rem;
  }

  @media all and (max-width: 768px) {
   
    li {
      font-size: calc(1.125rem * var(--smaller));
    }
    
    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }
  

  
  
  .gtco-testimonials {
    position: relative;
    margin-top: 30px;
  
    h2 {
      font-size: 30px;
      text-align: center;
      color: #333333;
      margin-bottom: 50px;
    }
  
    .owl-stage-outer {
      padding: 30px 0;
    }
  
    .owl-nav {
      display: none;
    }
  
    .owl-dots {
      text-align: center;
  
      span {
        position: relative;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: block;
        background: #fff;
        border: 2px solid #01b0f8;
        margin: 0 5px;
      }
  
      .active {
        box-shadow: none;
  
        span {
          background: #01b0f8;
          box-shadow: none;
          height: 12px;
          width: 12px;
          margin-bottom: -1px;
        }
      }
    }
  
    .card {
      background: #fff;
      box-shadow: 0 8px 30px -7px #c9dff0;
      margin: 0 20px;
      padding: 0 10px;
      
      border: 0;
  
      .card-img-top{
        max-width: 100px;
        border-radius: 50%;
        margin: 15px auto 0;
        box-shadow: 0 8px 20px -4px #95abbb;
        width: 100px;
        height: 100px;
      }
  
      .h5 {
        color: #01b0f8;
        font-size: 21px;
        line-height: 1.3;
  
        span {
          font-size: 18px;
          color: #666666;
        }
      }
  
      .p {
        font-size: 18px;
        color: #555;
        padding-bottom: 15px;
      }
    }
  
    .active {
      opacity: 0.5;
      transition: all 0.3s;
    }
  
    .center {
      opacity: 1;
  
      .h5 {
        font-size: 24px;
  
        span {
          font-size: 20px;
        }
      }
  
      .card-img-top {
        max-width: 100%;
        height: 120px;
        width: 120px;
      }
    }
  }
  
  @media (max-width: 767px) {
    .gtco-testimonials {
      margin-top: 20px;
    }
  }
  
  .owl-carousel {
    .owl-nav button {
      &.owl-next, &.owl-prev {
        outline: 0;
      }
    }
  
    button.owl-dot {
      outline: 0;
    }
  }
  .carousel-caption{
    top: 40%;
    
  }
  .sub{
    text-align: center;
    background-color: #b0e2b6;
    padding: 50px;
  }
  .htp{
    text-align: center;
  }
  .colo{
    color: aqua;
  }

  .tag1:hover img{
    transform: scale(1.1);
  }
  .r2{
    position:absolute; z-index: 1000;background-color: green;padding: 5px 10px;
    
  }

  .r2{
    position:absolute; z-index: 1000;background-color: green;padding: 5px 10px;
    
  }
.pro1{
  border-color: #b0e2b6;
}
.para{ margin-top: 3%;
  
  
}




*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a,p{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(243, 195, 195, 0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #e9c6c6;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.ftco-no-pb {
  padding-bottom: 0 !important;
}
.ftco-no-pt {
  padding-top: 0 !important;
}

.tag1{
  margin top: 4%;
}
.rev{
  padding-top: 3%;
  padding-bottom: 3%;
}

.plate{
  padding-top: 3%;
  padding-bottom: 3%;
}