

.tag1{
    text-align: center;
    border-radius: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
.bg1{
    background-image: url('images/1.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2%;
    
}
.bg2{
    background-image: url('images/2.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    

.bg3 {
    background-image: url('images/category.jpg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
}
   

.bg4{
    background-image: url('images/3.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2%;
}
.bg5{
    background-image: url('images/4.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.s1{
    color: aqua;
}
.pro{
    padding-top: 5%;
    text-align: center;

}
.pro1{
    border: solid;
}
.bg6{
    background-image: url('images/bg_3.jpg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    
    text-align: center;
   

    
}
.para{
    text-align: center;
}
.bg1,.bg2,.bg5,.bg4{
    height: 250px;
}

.cara{
    text-align: top;
}