body {
    background-color: black;
    
    color: white;
    }
    
    form {
    width: 30vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    /*border: 2px solid red; */
    }

    form input{
    width: 100%;
    font-size: large;
    padding: 8px;
    }
    
    form label {
    margin-top: 10px;
    }
    
    form button {
    padding: 5px;
    font-size: large;
    margin-top: 10px;
    }